.no-scroll {
    overflow: hidden;
}

html, body {
    height: 100%;
} 

#thumbnails {
    
}

.thumbnail {
    position: relative;
    float: left;

    width: 100px;
    height: 100px;
    
    background: transparent url(../images/spinner.gif) no-repeat center center;

    margin: 5px;
    border: none;
    
    cursor: pointer;
}

.thumbnail:hover {
    margin: 0;
    border: 5px solid #2794DD;    
}

#manifest-load {
    position: absolute;

    width: 150px;
    height: 45px;

    left: 50%;
    top: 50%;
    margin: -90px 0 0 -75px;
    padding: 10px;

    text-align: center;
    font-size: 14px;

    background-color: #111;
    opacity: 0.75;

    -moz-box-shadow: 0 0 15px #111;
    -o-box-shadow: 0 0 15px #111;
    -webkit-box-shadow: 0 0 15px #111;
    box-shadow: 0 0 15px #111;
    
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#manifest-load p:first-child {
    margin-bottom: 10px;
}

#description {
    position: fixed;
    top: 20px;
    left: 20px;
    opacity: 0.85;
}

#photo-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(17, 17, 17, 0.96);
}

#photo-wrapper #progress {
    margin: 10px;
    font-size: smaller;
}

#photo-wrapper #progress .playground-progressbar {
    height: 2px;
}

#photo-wrapper #progress .playground-progress-value {
    background-color: white;
}


#photo-wrapper #close-info {
    position: absolute;
    
    right: 15px;
    bottom: 10px;
}

#photo-wrapper #photo {
    width: 100%;
    height: 100%;
    
    text-align: center;
}

#photo-wrapper #photo img {
    max-width: 100%;
    max-height: 100%;
}
